* {
    margin: 0;
    padding: 0;
}

body {
    width: 970px;
    margin: auto;
    background: url("images/background.jpg") no-repeat;
    background-attachment: fixed;
}


/*header部分*/
.header {
    float: right;
    background-color: white;
    padding: 0 8px 0 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 0 6px black;
}

.header a {
    color: #0F0F55;
    text-decoration: none;
    font-family: Arial;
    line-height: 28px;
    font-size: 12px;
    padding: 0 13px;
}

.header a:hover {
    text-decoration: underline;
}


/*main部分*/
/*shopping list部分*/
.list {
    clear: both;
}

.shopping_list div {
    margin: -90px 10px 0 819px;
    background: #CCC url("images/shoppinglist.png") no-repeat 10px center;
    padding: 4px 0 6px 37px;
    border-radius: 2px;
}

.shopping_list div a {
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    color: #0F0F55;
    font-family: Arial;
}

/*nav bar部分*/
.nav {
    margin-top: 16px;
    margin-bottom: -1px;
    background: #0F0F55;
    height: 47px;
    padding-left: 110px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.nav ul {
    padding-top: 3px;
    padding-bottom: 2px;
}

.nav ul li {
    list-style: none;
    float: left;
    position: relative;
    margin-bottom: -2px;
    /*margin-top: -6px;*/
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: 18px;
    padding: 10px;
    line-height: 42px;
    vertical-align: 10px;
}

.a_hover {
    background-color: #ffa366;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


/*nav显示部分*/
.nav .navShow1 {
    display: none;
    width: 185px;
    background: #ffa366;
    position: absolute;
    top: 40px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 10px;
    z-index: 99;
}

.nav .navShow1 li {
    float: none;
}

.nav .navShow1 li a {
    font-size: 14px;
    color: white;
    line-height: 36px;
}

.nav #navShow3 {
    width: 240px;
}



/*ad images部分*/
.main {
    clear: both;
    padding: 18px 0 0 10px;
    background: white;
    overflow: hidden;
    margin-top: -10px;
}

.main .ad_images .moving_ad {
    float: left;
    margin-right: 10px;
    position: relative;
}

.main .ad_images .moving_ad .changing_ad {
    width: 708px;
    height: 360px;
    overflow: hidden;
    position: relative;
}

.main .ad_images .moving_ad .changing_ad ul {
    width: 2832px;
    height: 360px;
    position: absolute;
    left: 0;
    top: 0;
}

.main .ad_images .moving_ad .changing_ad ul li {
    float: left;
    list-style: none;
}

.main .ad_images>a img  {
    padding: 0 7px 8px 0;
}

.main .ad_images .moving_ad .control_ad {
    position: absolute;
    left: 550px;
    top: 300px;
}

.main .ad_images .moving_ad .control_ad li {
    float: left;
}

.main .ad_images .moving_ad .control_ad .left {
    width: 35px;
    height: 38px;
    margin-right: 1px;
    background: rgba(255,255,255,0.5);
    list-style: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.main .ad_images .moving_ad .control_ad .left div {
    border: 6px solid rgba(255,255,255,0);
    border-right-color: #0F0F55;
    margin-top: 13px;
    margin-right: 15px;
}

.main .ad_images .moving_ad .control_ad .number {
    width: 70px;
    height: 38px;
    margin-right: 1px;
    background: rgba(255,255,255,0.5);
    list-style: none;
}

.main .ad_images .moving_ad .control_ad .number div {
    font-family: Arial;
    font-size: 12px;
    margin-top: 13px;
    margin-left: 22px;
}

.main .ad_images .moving_ad .control_ad .right {
    width: 35px;
    height: 38px;
    background: rgba(255,255,255,0.5);
    list-style: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.main .ad_images .moving_ad .control_ad .right div {
    border: 6px solid rgba(255,255,255,0);
    border-left-color: #0F0F55;
    margin-top: 13px;
    margin-left: 15px;
}



/*文字描述部分*/
.main .discription {
    margin-right: 14px;
}

.main h2 {
    font-family: Arial;
    color: #0F0F55;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.main p {
    font-family: Arial;
    color: #0F0F55;
    font-size: 12px;
    margin-bottom: 13px;
}

.main h1 {
    font-family: Arial;
    color: white;
    font-size: 15px;
    background: #9BA5C8;
    padding: 8px 12px;
    margin-bottom: 10px;
}

.main .discription img {
    margin-top: 17px;
}

.main .discription .alcohol {
    font-family: Arial;
    color: #0F0F55;
    font-size: 12px;
    font-style: italic;
    vertical-align: 30px;
    padding-left: 5px;
}

.main .top {
    float: right;
    padding:10px 60px;
    margin-right: 12px;
    background: #F5F5FA;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.main .top a {
    text-decoration: none;
    font-family: Arial;
    color: #0F0F55;
    font-size: 12px;
    padding-right: 5px;
}

.main .top a:hover {
    text-decoration: underline;
}

.main .top a span {
    font-size: 0;
    border: 6px solid #0F0F55;
    border-top-color: #F5F5FA;
    border-left-color: #F5F5FA;
    border-right-color: #F5F5FA;
    /*vertical-align: 10px;*/
    float: right;
    margin-left: 3px;
}



/*footer部分*/
.footer .print {
    clear: both;
    height: 35px;
    background: #E1E1EB;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 10px;
}

.footer .print a {
    font-family: Arial;
    color: #0F0F55;
    font-size: 12px;
    text-decoration: none;
}

.footer .print a:hover {
    text-decoration: underline;
}

.footer .print a:first-child {
    padding-left: 20px;
}

.footer .print div {
    float: right;
}

.footer .print div a {
    padding-right: 30px;
}

.footer .print span {
    font-family: Arial;
    color: #787DA5;
    font-size: 12px;
    padding-right: 20px;
}



/*catelogue部分*/
.footer .catelogue {
    background-color: white;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 10px;
    overflow: hidden;
}

.footer .catelogue a:hover {
    text-decoration: underline;
}

.footer .catelogue div {
    width: 220px;
    float: left;
}

.footer .catelogue h1 {
    margin-bottom: 20px;
}

.footer .catelogue h1 a {
    font-family: Arial;
    color: #969BB4;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    font-weight: normal;
}

.footer .catelogue div {
    height: 498px;
    border-left: 1px solid #E1E1EB;
    padding-left: 10px;
}

.footer .catelogue div:first-child {
    border: none;
}

.footer .catelogue li {
    list-style: none;
    margin-bottom: 16px;
}

.footer .catelogue li a {
    font-family: Arial;
    color: #0F0F55;
    font-size: 12px;
    text-decoration: none;
}













